:root{
    --primary: hsl(225, 100%, 94%);
    --primary-light: hsl(245, 75%, 52%);
    --pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background: url("./images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img{
    max-width: 100%;
}

.card{
    max-height: 90vh;
    background-color: var(--pale-blue);
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align: center;
    align-items: center;
    margin: 20px auto;
    width: 330px;
    padding: 0 0 30px;
    border-radius: 20px;
    box-shadow: 0px 16px 16px rgb(209, 209, 209);

}

.image img{
    border-radius: 20px 20px 0 0;

}
.info{
    width: 260px;
}
.info h2{
    color: var(--dark-blue);
    margin-bottom: 20px;
}
p{
    color: var(--desaturated-blue);
    font-size: 14px;
    font-weight: 400;
}

.select-plan{
    width: 260px;
    display: flex;
    align-items: center;
}

.info-plan{
    flex-grow: 1;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.info-plan h4{
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: 900;
}

button{
    text-decoration: none;
    border: none;
    background: inherit;
}

.select-plan a{
    color: var(--primary-light);
    font-weight: 700;
    font-size: 14px;
    transition: all 0.5s;

}
.select-plan a:hover{
    color: var(--desaturated-blue);
}
.btn-payment{
    background-color: var(--primary-light);
    width: 85%;
    padding: 16px;
    border-radius: 10px;
    color: var(--pale-blue);
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 0.6px;
    cursor: pointer;
    box-shadow: 0px 16px 16px rgb(209, 209, 209);
    transition: all 0.5s;
}
.btn-payment:hover{
    background-color: var(--desaturated-blue);

}
.btn-cancel{
    margin-top: 10px;
    cursor: pointer;
    color: var(--desaturated-blue);
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    transition: all 0.5s;

}
.btn-cancel:hover{
    color: var(--dark-blue);
}
@media only screen and (min-width: 768px){
    body{
        background: url("./images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}